parameters:
    level: 6
    paths:
        - Api
        - Application
        - Domain
        - Infrastructure
        - Model
    tmpDir: ../../../../var/phpstan/kkkonrad-gdpr
    reportUnmatchedIgnoredErrors: false
