<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_register_success">
        <observer name="kkkonrad_gdpr_record_registration_consent"
                  instance="Kkkonrad\Gdpr\Observer\Consent\RecordRegistrationConsent"/>
    </event>
    <event name="customer_login">
        <observer name="kkkonrad_gdpr_link_guest_consents"
                  instance="Kkkonrad\Gdpr\Observer\Consent\LinkGuestConsentsOnLogin"/>
    </event>
</config>
